<div class="pro_sell-2">
  <%= simple_form_for @story do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <div class="pro-header-select">
      <div class="row">
        <div class="col-sm">
          
        </div>
      </div>
    </div>
    <div class="form-inputs">
      <div class="row">
        <div class="col-sm">
          <%= f.input :title %>
          <%= f.input :short_description %>
          <%= f.input :full_story %>
        </div>
        <div class="col-sm">
          <%= f.input :image, as: :file, label: false, input_html: {multiple: false}, class: "section1" %>
        </div>
      </div>
      <div class="form-actions-2">
        <%= f.button :submit, class: "btn-success" %><%= link_to 'Back', stories_path, class: "back1" %>
      </div>
    </div>
  <% end %>
  </div>