<div class="title_back" text="center">
  <h5 class="title_6">Story Details</h5>
</div>
<div class="content_6">
  <p id="notice"><%= notice %></p>
  <div class="row">
    <div class="col" text="center">
      <p>
        <strong>Title:</strong>
        <%= @story.title %>
      </p>

      <p>
        <strong>Short Description</strong>
        <%= @story.short_description %>
      </p>


      <p>
        <strong>Full Story:</strong>
        <%= @story.full_story %>
      </p>

      
       
      <p>
        <% if @story.image.attached? %>
         
            <%= image_tag url_for(@story.image), size: "64" %>
        <% end %>
      </p>
    </div>
  </div>
  </div>