<div class="content_5">
  <table id="stories" class ="fixed_header table-bordered table-striped">
    <thead>
    <%if !@stories.blank?%>
      <tr>
        <th>Image</th>
        <th>Title</th>
        <th>Short Description</th>
        <th>Full Story</th>
        <th>Writer Name</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <%end%>
    </thead>

    <tbody>
        <% unless @stories.blank?
        @stories.each do |story| %>
        <tr>
          <td><%= image_tag url_for(story.image), size: "64" if story.image.attached? %></td>
          <td><%= story.title %></td>
          <td><%= story.short_description %></td>
          <td><%= story.full_story %></td>
          <td><%= story.user.email %></td>
          <td><%= link_to 'Read Full Story', story %></td>
        </tr>
      <% end 
      end %>
    </tbody>
  </table>
  <%= link_to '<button type="button">My Story</button>'.html_safe, stories_path %>
 </div>